@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Readexpro";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Readexpro.woff2) format("woff2");
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  @apply text-slate-900 dark:text-white;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

a {
  @apply text-slate-700 hover:text-blue-500 dark:text-white hover:dark:text-blue-300;
}

a.active {
  @apply text-blue-500 dark:text-white;
}

span {
  @apply text-xs;
}
