@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background: #003049;
}

@font-face {
  font-family: "Readexpro";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Readexpro.woff2) format("woff2");
}

html {
  font-size: 18px;
}
